<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZH8VTlWNvmdWVg6Dl4x7HYkAvo9C_Vm0</string>
	<key>GCM_SENDER_ID</key>
	<string>675785556721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOS-vk-education.SwipeMovie.obb</string>
	<key>PROJECT_ID</key>
	<string>swipemovie-53353</string>
	<key>STORAGE_BUCKET</key>
	<string>swipemovie-53353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675785556721:ios:924751e9ef3acc27489f50</string>
</dict>
</plist>